<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有恒</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no minimal-ui">
    <link rel="stylesheet" href="https://static.pgyer.com/static-20180530/assets/build/header_include.min.css">

    <link rel="stylesheet" href="https://static.pgyer.com/static-20180530/assets/css/appView.css">
    <link rel="stylesheet" href="https://static.pgyer.com/static-20180530/assets/css/viewColorful.css">
</head>
<body>

<div class="row-fluid  margin-bottom-20" style="z-index:-2;">
    <div id="header"></div>
</div>

<div class="container content">

    <div class="span12 margin-bottom-30 appicon-mobile" id="appicon-bg">
        <a href="javascript:void(0);"><img
                src="https://o1wh05aeh.qnssl.com/image/view/app_icons/2af5de2ef74c883c63623a6f804d6f7f/120"
                class="appicon"
                onerror="javascript:this.src='https://static.pgyer.com/static-20180530/assets/img/default-icon.png';"></a>
    </div>
</div>
<div style="height: 200px;text-align: center">

    <form action="/udid" method="post">
        <input type="hidden" name="method" value="PUT">
        <p>UDID:<input name="udid" type="text" value="{{ udid }}" readonly="readonly" style="border: 0;width: 300px"></p>
        <p>ID:<input name="id" type="text"></p><br/><br/>
        <p><input type="submit" id="down_load" class="btn-u btn-u-lg ">

             </input>
        </p>
    </form>

</div>
<div class="copyright" style="margin-bottom: 0px;">
    <div class="container" style="z-index:-1;">
        <div class="row">
            <div class="col-lg-8  col-xs-12 col-md-6 col-sm-6 text-left" style="z-index:0;">
                <a href="http://www.youheng.com.cn" target="_blank">北京有恒科技有限公司</a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div>
</body>
</html>