jieba
flask==0.12.2
sqlalchemy==1.1.15
flask_sqlalchemy==2.3.2
flask_migrate==2.1.1
pymysql==0.7.11
requests==2.18.4
flask-wtf==0.14.2
gevent==1.2.2
gevent-websocket==0.10.1
flask-marshmallow==0.8.0
marshmallow-sqlalchemy==0.13.2
flask-uploads==0.2.1
pycrypto==2.6.1
Flask-APScheduler==1.8.0
APScheduler==3.5.1
wxpy==0.3.9.8
xlrd==1.1.0
